<div id="dash_side_nav">
  <div class="comp">
    <div class="main_company_side">
      <div class="nav_item_card">
        <div class="nav_item_img_holder">
          <% if(user.profile_image)  {%>
            <img src="<%- user.profile_image %>" width="100%" height="100%"/>
          <%} else {%>
            <img src="../../../images/default_company_icon.png" width="100%" height="100%" />
          <%}%>
        </div>
        <div class="nav_item_title_holder">
          <div class="text_scroll comp_name">
            <p><%- user.business_name.toUpperCase()%></p>
          </div>
          <div class="text_scroll comp_email">
            <p><%- user.email%></p>
          </div>
        </div>
      </div>
      <nav class="dash_side_main_nav_container" v-on:click="() => gotoRoute('/company/admin/dashboard')">
        <div class="<%=page === 'company_admin_dashboard_overview' ? 'dash_side_nav_item selected' : 'dash_side_nav_item'%>">
          <div class="nav_item_bg_overlay"></div>
          <span class="nav_icon">
            <span class="fa fa-th-large font-m"></span>
          </span>
          <span class="nav_title">Overview</span>
        </div> 
      </nav>
      <nav class="dash_side_main_nav_container" v-on:click="() => gotoRoute('/company/admin/wallet')">
        <div class="<%=page === 'company_admin_dashboard_wallet' ? 'dash_side_nav_item selected' : 'dash_side_nav_item'%>">
          <div class="nav_item_bg_overlay"></div>
          <span class="nav_icon">
            <span class="fa fa-money-bill font-m"></span>
          </span>
          <span class="nav_title">Wallet</span>
        </div> 
      </nav>
      <nav class="dash_side_main_nav_container" v-on:click="() => gotoRoute('/company/admin/dispatchers')">
        <div class="<%=page === 'company_admin_dashboard_dispatchers' ? 'dash_side_nav_item selected' : 'dash_side_nav_item'%>">
          <div class="nav_item_bg_overlay"></div>
          <span class="nav_icon">
            <span class="fa fa-users font-m"></span>
          </span>
          <span class="nav_title">Dispatchers</span>
        </div> 
      </nav>
      <nav class="dash_side_main_nav_container" v-on:click="() => gotoRoute('/company/admin/profile')">
        <div class="<%=page === 'company_admin_dashboard_profile' ? 'dash_side_nav_item selected' : 'dash_side_nav_item'%>">
          <div class="nav_item_bg_overlay"></div>
          <span class="nav_icon">
            <span class="fa fa-user font-m"></span>
          </span>
          <span class="nav_title">Profile</span>
        </div> 
      </nav>
    </div>
  </div>
  <div class="mobile">
    <div class="main_bottom_nav">
      <nav class="dash_side_main_nav_container" v-on:click="() => gotoRoute('/company/admin/dashboard')">
        <div class="<%=page === 'company_admin_dashboard_overview' ? 'dash_side_nav_item selected' : 'dash_side_nav_item'%>">
          <span class="nav_icon">
            <span class="fa fa-th-large font-m"></span>
          </span>
          <span class="nav_title">Overview</span>
        </div> 
      </nav>
      <nav class="dash_side_main_nav_container" v-on:click="() => gotoRoute('/company/admin/wallet')">
        <div class="<%=page === 'company_admin_dashboard_wallet' ? 'dash_side_nav_item selected' : 'dash_side_nav_item'%>">
          <span class="nav_icon">
            <span class="fa fa-money-bill font-m"></span>
          </span>
          <span class="nav_title">Wallet</span>
        </div> 
      </nav>
      <nav class="dash_side_main_nav_container" v-on:click="() => gotoRoute('/company/admin/dispatchers')">
        <div class="<%=page === 'company_admin_dashboard_dispatchers' ? 'dash_side_nav_item selected' : 'dash_side_nav_item'%>">
          <span class="nav_icon">
            <span class="fa fa-users font-m"></span>
          </span>
          <span class="nav_title">Dispatchers</span>
        </div> 
      </nav>
      <nav class="dash_side_main_nav_container" v-on:click="() => gotoRoute('/company/admin/profile')">
        <div class="<%=page === 'company_admin_dashboard_profile' ? 'dash_side_nav_item selected' : 'dash_side_nav_item'%>">
          <span class="nav_icon">
            <span class="fa fa-user font-m"></span>
          </span>
          <span class="nav_title">Profile</span>
        </div> 
      </nav>
    </div>
  </div>
</div>