<div 
  onclick="toggleQuestion('<%= name%>')"
  name="<%= name%>"
  id="<%= name%>"
  class="faq_question_item inactive bordered"
>
<div class="faq_question_head">
  <h4><%=head%></h4>
  <div class="faq_icon">
    <i class="fas fa-chevron-down"></i>
  </div>
</div>
<div class="faq_question_content inactive">
  <p><%=content%></p>
</div>
</div>