<nav class="<%- opaque ? 'opaque_nav' : 'main_nav' %>">
  <nav class="comp">
    <div class="row-space-between">
      <a href="/" class="logo_cont">
        <img src="../../images/logo.svg" alt="Koogah Delivery Logo" width="100%" height="100%"/>
      </a>
      <div class="row-space-between">
        <a href="/faq" class="link nav_item">
          <% if(page === 'faq') {%>
            <p class="<%- opaque ? 'font-small font-bold nav-active  nav_font_opaque' : 'font-small font-bold nav-active' %>">FAQ</p>
            <%} else {%>
              <p class="<%- opaque ? 'font-small font-bold nav-inactive nav_font_opaque' : 'font-small font-bold nav-inactive'%>">FAQ</p>
          <%}%>
        </a>
        <a href="mailto:contact@koogah.com" class="link nav_item">
          <p  class="<%- opaque ? 'font-small font-bold nav_font_opaque' : 'font-small font-bold' %>">CONTACT US</p>
        </a>
        <a href="/delivery/estimate" class="<%- opaque ? 'no_decoration cta_black' : 'no_decoration cta'%>">
          <p>GET ESTIMATE</p>
        </a>
      </div>
    </div>
  </nav>
  <nav class="mobile">
    <div class="row-space-between">
      <div>
        <a href="/">
          <img src="../../images/logo.png" alt="Koogah Delivery Logo" width="120" height="auto"/>
        </a>
      </div>
      <div class="mobile_nav_container">
        <div class="nav_items_container inactive">
          <div class="col-end">
            <a href="/" class="link">
              <%if(page == 'index') {%>
                <p class="font-small font-bold nav-active">Home</p>
                <%} else {%>
                  <p class="font-small font-bold nav-inactive">Home</p>
                  <%}%>
            </a>
            <a href="/faq" class="link">
              <% if(page === 'faq') {%>
                <p class="font-small font-bold nav-active">FAQ</p>
                <%} else {%>
                  <p class="font-small font-bold nav-inactive">FAQ</p>
              <%}%>
            </a>
            <a href="mailto:contact@koogah.com" class="link">
              <p class="font-small font-bold ">Contact Us</p>
            </a>
            <a href="/delivery/estimate" class="<%- opaque ? 'no_decoration cta_black nav_item' : 'no_decoration cta'%>">
              <p class="font-small">GET ESTIMATE</p>
            </a>
          </div>
        </div>
        <div class="nav_btn">
          <div class="nav_icon_btn"></div>
        </div>
      </div>
    </div>
  </nav>
</nav>